<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :email, 'Email Address' %>:
    <%= f.text_field :email %><br />
  </div>

  <div class='field'>
    <%= f.label :first_name, 'First Name' %>:
    <%= f.text_field :first_name %><br />
  </div>

  <div class='field'>
    <%= f.label :last_name, 'Last Name' %>:
    <%= f.text_field :last_name %><br />
  </div>

  <div class='field'>
    <%= f.label :admin, 'Is Admin' %>:
    <%= f.check_box :admin %><br />
  </div>

  <%= f.hidden_field(:site_id) %>

  <div class="actions">
    <%= f.submit "Save", :class => 'button' %>
    <%=link_to 'Back', users_path, :class => 'button' %>
  </div>
<% end %>
