%section#container
  %header#intro
    %hgroup#pageHeader
      %h1.read#title=@fields[:title]
    %section#quickSummary
  %h2.read#announcement=@fields[:announcement]
  %section#supportingText
    %article
      %section.read#article1=@fields[:article1]
    %article
      %section.read#article2=@fields[:article2]
    %article
      %section.read#article3=@fields[:article3]
  %nav#linkList
    %ul
      %li.read.link
        %a{:href => "#{@fields[:link1_href]}",'data-name' => 'link1' }
          =@fields[:link1]
      %li.read.link
        %a{:href => "#{@fields[:link2_href]}",'data-name' => 'link2' }
          =@fields[:link2]
      %li.read.link
        %a{:href => "#{@fields[:link3_href]}",'data-name' => 'link3' }
          =@fields[:link3]
      %li.read.link
        %a{:href => "#{@fields[:link4_href]}",'data-name' => 'link4' }
          =@fields[:link4]
      %li.read.link
        %a{:href => "#{@fields[:link5_href]}",'data-name' => 'link5' }
          =@fields[:link5]
      %li.read.link
        %a{:href => "#{@fields[:link6_href]}",'data-name' => 'link6' }
          =@fields[:link6]
      %li.read.link
        %a{:href => "#{@fields[:link7_href]}",'data-name' => 'link7' }
          =@fields[:link7]
      %li.read.link
        %a{:href => "#{@fields[:link8_href]}",'data-name' => 'link8' }
          =@fields[:link8]
      %li.read.link
        %a{:href => "#{@fields[:link9_href]}",'data-name' => 'link9' }
          =@fields[:link9]
  %footer#outro
    %section#pagefooter

/ These extra divs/spans may be used as catch-alls to add extra imagery.
#extraDiv1
  %span
#extraDiv2
  %span
#extraDiv3
  %span
#extraDiv4
  %span
#extraDiv5
  %span
#extraDiv6
  %span
- if can? :update, @page
  :javascript
    App.page_id = #{@page.id};
    App.page_controller = new App.Pages({el:$('body')});
