%section#container
  - if can? :update, @page
    .themes
      %select
        -`ls app/assets/themes`.split(/\n/).each do |theme|
          -if @current_site.theme == theme
            %option{:value => theme,:selected=>true}
              =theme
          -else
            %option{:value => theme}
              =theme

  %header#intro
    %hgroup#pageHeader
      %h1.read#title=@fields[:title]
    %section#quickSummary
  %h2.read#announcement=@fields[:announcement]
  %section#supportingText
    %article
      %section.read#article1=@fields[:article1]
    %article
      %section.read#article2=@fields[:article2]
    %article
      %section.read#article3=@fields[:article3]
  %nav#linkList
    %ul
      %li
        = link_to "Teachers", users_path(), {'data-name' => 'link_users'}
      %li.read.link
        %a{:href => "#{@fields[:link1_href]}",'data-name' => 'link1' }
          =@fields[:link1]
      %li.read.link
        %a{:href => "#{@fields[:link2_href]}",'data-name' => 'link2' }
          =@fields[:link2]
      %li.read.link
        %a{:href => "#{@fields[:link3_href]}",'data-name' => 'link3' }
          =@fields[:link3]
      %li.read.link
        %a{:href => "#{@fields[:link4_href]}",'data-name' => 'link4' }
          =@fields[:link4]
      %li.read.link
        %a{:href => "#{@fields[:link5_href]}",'data-name' => 'link5' }
          =@fields[:link5]
      %li.read.link
        %a{:href => "#{@fields[:link6_href]}",'data-name' => 'link6' }
          =@fields[:link6]
      %li.read.link
        %a{:href => "#{@fields[:link7_href]}",'data-name' => 'link7' }
          =@fields[:link7]
      %li.read.link
        %a{:href => "#{@fields[:link8_href]}",'data-name' => 'link8' }
          =@fields[:link8]
      %li.read.link
        %a{:href => "#{@fields[:link9_href]}",'data-name' => 'link9' }
          =@fields[:link9]
      - @pages.each do |page_link|
        %li.read.page
          %a{:href => "/pages/#{page_link.name || page_link.id}",'data-id' => "#{page_link.id}" }
            =page_link.name || page_link.id
  %footer#outro
    %section#pagefooter

/ These extra divs/spans may be used as catch-alls to add extra imagery.
#extraDiv1
  %span
#extraDiv2
  %span
#extraDiv3
  %span
#extraDiv4
  %span
#extraDiv5
  %span
#extraDiv6
  %span
- if can? :update, @page
  :javascript
    App.page_id = #{@page.id};
    App.page_controller = new App.Pages({el:$('body')});
    new App.Themes({ theme:"#{@current_site.theme}", el:$('.themes') });
