!!!
%html
  %head
    %title=@current_site.display_name
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = theme_stylesheet_link_tag "application"
    = csrf_meta_tags
  %body

    .devise
      %p.notice= notice
      %p.alert= alert
      = yield


  = theme_javascript_include_tag "application"
